.container {
  max-width: 450px;
  margin: 0 auto;
  border-right: 1px solid black;
  border-left: 1px solid $grey;
  background-color: rgb(221, 221, 221);
}

.will-fade {
  transition: opacity 1s ease;
  opacity: 0;
}

.fade-in {
  opacity: 1;
}
